| [**Overview**](./00_overview.ipynb) | [Getting Started](./01_jupyter_python.ipynb) | **Examples:** | [Access](./02_accessing_indexing.ipynb) | [Transform](./03_transform.ipynb) | [Plotting](./04_simple_vis.ipynb) | [Norm-Spiders](./05_norm_spiders.ipynb) | [Minerals](./06_minerals.ipynb) | [lambdas](./07_lambdas.ipynb) |
| ----------------------------------- | -------------------------------------------- | ------------- | --------------------------------------- | --------------------------------- | --------------------------------- | --------------------------------------- | ------------------------------- | ----------------------------- |

# Acccessing and Indexing Geochemical Data with pyrolite

The `pyrolite.pyrochem` API provides access to indexing and transformation functions. This allows easy subsetting of geochemical datasets which can otherwise be unweildly (expecially as the number of columns increases..). To provide a simple illustration we generate a synthetic dataset to work from, which contains an array of typical geochemical measures - oxide components, element components (here as ppm), element ratios and isotope ratios. While this size dataset is managable, some of the indexing tools pyrolite provides make it straightforward to pull out different parts of the dataset.

First let's create some data to play with:

In [1]:
import pyrolite.geochem
import pandas as pd
import numpy as np
from pyrolite.util.synthetic import normal_frame

pd.set_option("precision", 3)  # smaller graphical outputs
 
df = normal_frame(columns=['CaO', 'MgO', 'SiO2', 'FeO','Na2O', 'Ni', 'Ti', 'La', 'Lu', 'Te']) * 100
df[['Ni', 'Ti', 'La', 'Lu', 'Te']] *= 10
df['Sr87/Sr86'] = 0.0700  / 0.0986 + np.random.randn(df.index.size) * 0.0001
df

,CaO,MgO,SiO2,FeO,Na2O,Ni,Ti,La,Lu,Te,Sr87/Sr86
0,19.213,7.386,2.087,12.848,2.133,219.826,59.398,66.515,148.534,69.059,0.71
1,23.243,7.622,1.942,11.966,2.108,178.674,52.868,61.888,168.871,68.887,0.71
2,24.804,7.572,1.928,11.838,1.967,167.284,53.228,59.914,171.430,67.046,0.71
3,23.592,7.305,1.972,11.794,2.183,181.350,53.921,63.207,163.088,69.977,0.71
4,21.861,7.438,2.017,12.190,2.151,191.239,56.564,64.286,159.201,72.142,0.71
5,22.412,6.988,2.178,12.497,2.081,179.923,52.543,62.410,174.872,68.692,0.71
6,23.265,7.424,1.978,11.988,2.140,171.309,54.513,62.290,173.298,70.636,0.71
7,23.349,7.085,2.047,12.009,2.215,181.011,51.930,63.102,168.698,68.211,0.71
8,22.995,7.243,2.112,12.366,1.979,182.930,53.440,61.690,167.189,67.811,0.71
9,24.420,7.197,1.900,11.833,2.105,178.943,52.220,61.783,164.127,68.373,0.71

### Selecting Data

In [2]:
df.head(2).pyrochem.oxides

      CaO    MgO   SiO2     FeO   Na2O
0  19.213  7.386  2.087  12.848  2.133
1  23.243  7.622  1.942  11.966  2.108

In [3]:
df.head(2).pyrochem.elements

        Ni      Ti      La       Lu      Te
0  219.826  59.398  66.515  148.534  69.059
1  178.674  52.868  61.888  168.871  68.887

In [4]:
df.head(2).pyrochem.REE

       La       Lu
0  66.515  148.534
1  61.888  168.871

In [5]:
df.head(2).pyrochem.REY

       La       Lu
0  66.515  148.534
1  61.888  168.871

In [6]:
df.head(2).pyrochem.compositional

,CaO,MgO,SiO2,FeO,Na2O,Ni,Ti,La,Lu,Te
0,19.213,7.386,2.087,12.848,2.133,219.826,59.398,66.515,148.534,69.059
1,23.243,7.622,1.942,11.966,2.108,178.674,52.868,61.888,168.871,68.887

In [7]:
df.head(2).pyrochem.isotope_ratios

   Sr87/Sr86
0       0.71
1       0.71

------
### Listing Columns
If you just want the column names, it's easy enough to get those too (these are actually used in the indexing above):

In [8]:
df.pyrochem.list_oxides

['CaO', 'MgO', 'SiO2', 'FeO', 'Na2O']

In [9]:
df.pyrochem.list_elements

['Ni', 'Ti', 'La', 'Lu', 'Te']

In [10]:
df.pyrochem.list_REE

['La', 'Lu']

In [11]:
df.pyrochem.list_compositional

['CaO', 'MgO', 'SiO2', 'FeO', 'Na2O', 'Ni', 'Ti', 'La', 'Lu', 'Te']

In [12]:
df.pyrochem.list_isotope_ratios

['Sr87/Sr86']